/*********************************BODY***************************************/
body {
    margin: 0;
	font-size: 20px;
}
/*********************************BODY***************************************/
/*********************************JUMBO**************************************/
.jumbo {
    background: url(about1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbo1 {
    background: url(about2.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
@media screen and (max-width: 769px) {                /*******mobile*****/
    div.jumbo {
    display: none;
    }
    div.btmbox {
        background: rgba(3, 0, 155, 0.1);
	}
	div.jumboheader {
        color: white;
	}
	div.overlay {
		display: grid;
	}
	div.jumboheader {
		font-size: 6rem;
	}
	div.container3 {
		opacity: 1;
	}
}

@media screen and (max-width: 600px) {
	div.linkbox {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 769px) {         /*****TABLET an above*******/
    div.jumbo1 {
	display: none;
    }
}


.jumboheader {
    cursor: default;
    color: rgb(0, 0, 0);
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    height: 100vh;
    width: 100%;
    padding-top: 45vh;
    font-family: 'Poiret One', cursive;
    font-size: 8rem;
	font-weight: bolder;
	line-height: 3.5rem;
}
/*********************************JUMBO**************************************/
/*********************************IMG CONTAINER******************************/

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}
.linkbox { 
	display: flex;
	justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding-top: 2rem;
	padding-bottom: 2rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
}
.container3 {
    position: relative;
    width: 100%;
	padding-top: 2rem;
	opacity: 0.85;
	transition: 0.5s ease;
}
.image {
	width: 94%;
	height: auto;	
	border-radius: 10px;
}
.container3:hover  {
	opacity: 1;
}

.text {
	font-size: 3rem;
	margin-top: 60px;
	font-weight: bold;
	margin-top: 10px;
}

/*********************************IMG CONTAINER******************************/
/***********************************terapias*********************************/
.main {
	left:50%;
	font-size: 3rem;
	font-weight: bold;
	line-height: 3.5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	overflow: hidden;
}

.textblock {
	margin-right: 30px;
	margin-left: 30px;
}
@media screen and (min-width: 769px) {
.textblock {
	margin-left: 5rem;
	margin-right: 5rem;
	border: 0px solid;
	border-color: #e5e5e5 #dbdbdb #d2d2d2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 20px 10px 20px 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
	-moz-box-shadow: rgba(0,0,0,0.3) 2px 2px 5px;
	box-shadow: rgba(0, 0, 0, 0.3)  2px 2px 5px;
}
}

.textblock .col {
	box-sizing: border-box;
	width: 250px;
	height: 150px;
	color: #343434;
	border-right: 1px solid #dadada;
}

p {
	padding-top: 15px;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:200;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 5rem;
	line-height: 5rem;
	padding-top: 0px;
	color: rgb(48, 161, 165);
}
.pic1 {
	float: left;
	padding-left: 2px;
	padding-right: 20px;
	border-radius: 20px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.pic2 {
	float: right;
	padding-left: 20px;
	padding-right: 2px;
	border-radius: 20px;
	padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
	div.main {
		justify-content: center;
	}
	h3 {
		font-size: 3rem ;
		align-self: center;
	}
}


/***********************************terapias*********************************/
/************************************FOOTER**********************************/


footer{
	position: static;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color:rgba(0,0,0,0.7);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Poiret One', cursive;
    margin: 0;
    font-size: 3rem;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color: #fbff00;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	:hover {
		color: #37ff05;
	}
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	font-size: 1.5rem;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
	:hover {
		color: #000141;
	}
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fbff00;
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
